main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
    margin-right: auto;
    width: 90vh;
    height: fit-content;
}

.slide-container {
    display: block;
}

.black-container {
    background: linear-gradient(#23262E, black);
    color: aliceblue;

    div {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.game-images {
    max-width: 616px;
    max-height: 353px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.games-popup {
    position: absolute;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 30px 10px 30px;
    width: 300px;
}

.special-banner {
    background-color: red;
    border: 3px solid black;
    margin-top: 35px;
    height: 100px;
    
    p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#games-content-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
}
