.nav-bar {
    --darkgrey :#2A475E;
    background-color: var(--darkgrey);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Duru';
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.nav-bar-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.mist-logo {
    filter: invert(79%) sepia(29%) saturate(276%) hue-rotate(145deg) brightness(85%) contrast(86%);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 20px 240px 20px 240px;
    
}

.nav-item {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px 5px 0px 5px;
    color: #c6d4df;
    text-decoration: none;
}

.nav-item:hover {
    color:#59BF40
}

.nav-download {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#nav-mist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: '64';
    color: #c6d4df;
    margin: 0px 0px 0px 10px;
}